*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache

TAGS

# Exported org-mode HTML
/README.html

# pyenv version file
/.python-version

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Waf
## Build dir
/build/
## Unpackaged waflib
## It's dot-hidden on Unix-like system, but on Windows it is just
## labelled as a hidden directory (no dot).
/.waf*-*-*/
/waf*-*-*/
## Lock file
/.lock-waf*
